body {
  background-image: url("images/chip_8_macros_EM_Challenge1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
}

/* hidden utility class */
.hidden {
  display: none;
}

/* loading container */
#loading {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

/* Wave arcs */
.wave {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9) transparent transparent transparent;
  filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
  border-radius: 50%;
  opacity: 0;

  animation: waveAnim 1.5s infinite;

  position: relative;
  z-index: 9999; /* 👈 ensures it's on top */
}
